@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Varela";
  src: url("../font/VarelaRound-Regular.ttf") format("ttf")
}
@font-face {
  font-family: "Joannes";
  src: url("../font/JoannesHandwriting.otf") format("otf")
}

@font-face {
  font-family: "Nunito";
  src: url("../font/Nunito-VariableFont_wght.ttf") format("ttf")
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mapStyle {
  padding: 6px 8px;
  background-color: rgb(255, 73, 73);
  border-radius: 6px;
  margin-top: 80px;
  color:white;
}

.scroll-transition {
  transition-property: transform;
  transition-duration: 0.3s;
}

